<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <permission
        android:name="com.example.myapplication.chapter_2.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.example.myapplication.chapter_2.permission.ACCESS_BOOK_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".chapter_1.view.MainActivity"
            android:configChanges="orientation|locale|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".chapter_1.view.PostDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication.NoActionBar" />

        <activity
            android:name=".chapter_2.bundle.SecondActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication.NoActionBar" />

        <activity
            android:name=".chapter_2.socket.TCPClientActivity"
            android:theme="@style/Theme.MyApplication"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".chapter_3.scrollconflict.ScrollConflictActivity"
            android:theme="@style/Theme.MyApplication.NoActionBar" />

        <activity
            android:name=".chapter_4.CircleViewActivity"
            android:theme="@style/Theme.MyApplication.NoActionBar" />

        <service
            android:name=".chapter_2.aidl.BookManagerService"
            android:process=":remote" />

        <service
            android:name=".chapter_2.socket.TCPServerService"
            android:process=":remote" />

        <service
            android:name=".chapter_2.binderpool.BinderPoolService"
            android:process=":remote" />

        <service
            android:name=".chapter_11.LocalIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":remote" />

        <provider
            android:name=".chapter_2.contentprovider.BookProvider"
            android:authorities="com.example.myapplication.chapter_2.book.provider"
            android:permission="com.example.PROVIDER"
            android:process=":provider" />

    </application>

</manifest>